<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
  </style>

  <title>Pyrite - Modern Financial Solutions</title>
  <link rel="icon" type="image/x-icon">

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">


</head>

<body>


  <!--     <h1>Home Page</h1> -->

  <section class="onboarding-grid">

    <div class="left-col">

      <div class="branding">
        >
      </div>

      <div class="heading-area">
        <h2 class="copy-text">Let's get started</h2>
        <h4 class="copy-text">Easy to read financial reports <br> are one click away.</h4>
      </div>

    </div>

    <div id="background" class="right-col pyrite-light-purple-bgd">
      <h3>Start by uploading your <br> monthly bank statements</h3>
      <div class="upload-box" ondrop="dropHandler(event);" ondragover="dragHandler(event);">
        <h4 class="copy-text">File upload</h4>
         <div class="droparea" >
        
        <p class="copy-text">Drag and drop or browse your files</p>
      </div>
      <p class="file-name" id="filename">No file selected</p>
      </div>
    
      <a href='/404'>I want to manually input data</a>
      <a href='/404'>How do I get my monthly bank statements?</a>
    </div>
      <form class="next-btn">
        <input class="btn-purple" type="submit" value="Next">
      </form>
  </section>

</body>
</html>